.about
	.container
        padding-top: 109px
        padding-left: 25px
.about_fl
    display: flex
    img
        margin-right: 74px
        border-radius: 20px
        max-width: 650px
        max-height: 334px
.about_right
    .heshteg_black
        margin-top: 23px
    .p_main
        margin-top: 40px
#my-scrollbar 
    height: 339px
    overflow: auto
