.corporate_network
    background: url(../img/Group_1.svg)
    background-repeat: no-repeat
    padding-top: 207px
.corporate_network_image_block
    margin-top: 111px
    padding-left: 20px
    padding-right: 20px
    display: flex
    justify-content: space-between
    img
        border-radius: 20px
        max-width: 470px
        max-height: 334px
        
.corporate_network_left
    h1
        font-weight: 900
        font-size: 80px
        line-height: 98px
        text-transform: uppercase
        color: #FFFFFF
        margin-top: 19px
    .p_dop
        margin-top: 26px
    .flex_corporate_network
        display: flex
        margin-top: 64px
        form
            align-items: center
            position: relative
            svg
                position: absolute
                z-index: 2
                left: 25px
                bottom: 12px
                transform: translate(0, -50%)
                cursor: pointer
        input
            border: 2px solid #FFFFFF
            border-radius: 53px
            margin-right: 22px
            background-color: inherit
            padding: 0 30px 0 0
            width: 347px
            height: 71px
            padding-left: 80px
            font-weight: 500
            font-size: 16px
            line-height: 20px
            color: white
    .flex_corporate_network_1
        display: flex
        margin-top: 32px
    .p_dop_1
        margin-top: 20px
        margin-bottom: 46px
        font-weight: 500
        font-size: 13px
        line-height: 16px
        color: $white_sub
.corporate_number_l, .corporate_number_r
    font-weight: 800
    font-size: 25px
    line-height: 41px
    text-transform: uppercase
    box-shadow: 0px 4px 30px rgba(159, 186, 206, 0.25)
    border-radius: 0px 30px 30px 30px
    color: $black
.corporate_number_l span, .corporate_number_r span
    color: $blue
    font-weight: 800
    text-align: center
    text-transform: uppercase
.corporate_number_l .number_span
    font-size: 80px
    line-height: 98px
.corporate_number_l .days_span
    font-size: 30px
    line-height: 37px
.corporate_number_r span
    font-size: 57px
    line-height: 69px
.corporate_number_r .price_span
    font-size: 57px
    line-height: 69px
.corporate_number_r .mounth_span
    font-size: 30px
    line-height: 37px
.corporate_number_r .do_span
    font-size: 21px
    line-height: 26px
.corporate_number_l
    font-size: 25px
    line-height: 41px
    margin-right: 29px
    text-align: center
    width: 159px
    height: 299px
    padding-top: 24px
    background: white
.corporate_number_r
    width: 482px
    .corporate_number_top
        font-size: 21px
        line-height: 26px
        height: 159px
        padding-left: 48px
        padding-left: 21px
        padding-top: 24px
        background: white
        box-shadow: 0px 4px 30px rgba(159, 186, 206, 0.25)
        border-radius: 0px 30px 30px 30px
    .corporate_number_bot
        height: 130px
        margin-top: 10px
        padding-left: 48px
        padding-left: 21px
        padding-top: 11px
        background: white
        box-shadow: 0px 4px 30px rgba(159, 186, 206, 0.25)
        border-radius: 0px 30px 30px 30px