.header, .header-social, .header-phone 
    display: flex
    align-items: center
.header
    padding-top: 28px
    color: white
.header-phone
    margin-left: 50px
.header-phone img
    margin-right: 10px
.header-phone-txt
    font-weight: 600
    font-size: 20px
    line-height: 24px
    color: white
.header-social 
    margin-left: 280px
    a
        width: 39px
        height: 39px
        display: flex
        border-radius: 50%
        background: #FFFFFF
        align-items: center
        justify-content: center
        margin-right: 11px
.menu
    margin-right: 130px
    width: 608px
.main-nav
    display: flex
    position: relative
    align-items: center
    padding: 0 12px 0 0
    width: 100%
    border-radius: 4px 0 0 4px
    +trs
#main-menu
    width: 100%
    display: flex
    justify-content: space-between
    li
        a
            color: white
            font-weight: 600
            font-size: 16px
            line-height: 20px
            text-align: center
.main-menu-btn
    display: none
#main-menu-state
    display: none

