.join_fl
    display: flex
    .join_block_r
        padding-top: 190px
    .join_block_l
        margin-right: 290px
.join_block_r
    .heshteg_grey
        margin-bottom: 36px
    .join_block_r_title
        font-weight: 800
        font-size: 35px
        line-height: 56px
        text-transform: uppercase
        margin-bottom: 25px
        color: $black
        max-width: 527px
    .p_main
        max-width: 394px
        margin-bottom: 9px
    .telefone
        font-weight: bold
        font-size: 20px
        line-height: 150%
        margin-bottom: 13px
        color: $black
    .p_main_fl
        display: flex
        margin-bottom: 47px
        .email
            font-weight: bold
            font-size: 20px
            line-height: 150%
            color: $black
            margin-left: 20px
    .p_dops
        font-weight: 500
        font-size: 13px
        line-height: 16px
        color: $gray_sub
    .flex
        display: flex
        margin-bottom: 19px
        input
            border: 2px solid #4D434B
            border-radius: 53px
            margin-right: 14px
            background-color: inherit
            padding: 0 30px 0 0
            max-width: 295px
            height: 71px
            padding-left: 80px
            font-weight: 500
            font-size: 16px
            line-height: 20px
            color: $black
        form
            align-items: center
            position: relative
            svg
                position: absolute
                z-index: 2
                left: 25px
                bottom: 12px
                transform: translate(0, -50%)
                cursor: pointer
.parallax_3
    position: absolute
.paralax_3_1, .paralax_3_2, .paralax_3_3, .paralax_3_4, .paralax_3_5, .paralax_3_6, .paralax_3_7
    z-index: 999
.paralax_3_1
    top: 850px !important
    left: 825px !important
.paralax_3_2
    left: 20px !important
    top: 490px !important
.paralax_3_3
    top: 920px !important
.paralax_3_4
    top: 1000px !important
.paralax_3_5
    top: 540px !important
    left: 845px !important
    z-index: 1000
.paralax_3_6
    top: 550px !important
    left: 880px !important
.paralax_3_7
    left: -30px !important
    top: 500px !important